body {background: black;}
table {width: 325px; height: 325px; border-collapse: collapse; opacity: 65%; margin-top: 20px;}
td, tr, table {display: flex; align-items: center; justify-content: center;}
section {background: darkslategrey; height: 90px; width: 90px; border: solid 2px darkgoldenrod; text-align: center; font-size: 90px;}
p {color: red; font-size: 18;}
main {width: 10px;}
header {width: 333px; height: 510px; opacity: 50%; background: linear-gradient(90deg, grey, white, yellow, white, red, grey); z-index: -1; position: absolute; border: solid 2px goldenrod;}
footer {background: darkslategrey; width: 335px;}
h2 {text-align: center;}
button {text-align: center; width: 335px; background: hotpink; height: 30px;}
h5 {color: deeppink; text-align: center;}
