body {font-size: 15pt; background:linear-gradient(90deg, grey, black, red); display: flex; justify-content: center;}
table {border-collapse: collapse; width: 250px; height: 250px; margin-top: 18px;}
section {height:25px; width:25px; border: solid 2px silver;}
div {position: block;}
